.page-header {
  display: block;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: 86px;
  width: 100%;

  padding: 32px 20px;
  background: $main-light;
  z-index: 1000;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 390px;
    width: 100%;

    margin: 0 auto;

    img {
      cursor: pointer;
    }

    span {
      color: $primery-color;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
    }
  }
}
